# Dependencies
**/node_modules

# Build outputs & caches
**/.astro
**/.react-router
**/.turbo
**/build
tmp
**/zero.db
**/zero.db-*

# Local tooling & config
.cursor
.devbox
**/.DS_Store
.git
.vscode

# Secrets
.env
.env.example

# Devbox
devbox.d
devbox.json
devbox.lock
setup-devbox.sh

# Deployment & orchestration
.helm
.helmignore
docker-compose.yml
Dockerfile
process-compose.yaml
werf.yaml

# Documentation & misc
docs
LICENSE
README.md
.gitignore
.prettierignore
prettier.config.mjs
