DB_URL=postgres://ktb:ktb@localhost:5432/ktb_development
DEVBOX_COREPACK_ENABLED=true
DO_SPACES_ACCESS_KEY_ID=
DO_SPACES_SECRET_ACCESS_KEY=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
GITHUB_OAUTH_REDIRECT_URI=https://ktb.localhost/auth/github/callback
MAIN_ORIGIN=https://ktb.localhost
NGINX_WEB_PORT=
NGINX_WEB_ROOT=
NGINX_WEB_SERVER_NAME=
REDIS_URL=redis://localhost:6379
SESSION_SECRET=shhhhh
WERF_REPO=
WERF_SECRET_KEY=
ZERO_CACHE_URL=https://zero.ktb.localhost
ZERO_MUTATE_URL=http://localhost:5173/api/zero/mutate
ZERO_QUERY_URL=http://localhost:5173/api/zero/query
ZERO_UPSTREAM_DB=postgres://ktb:ktb@localhost:5432/ktb_development
